.nav__search__input{
    background-color: unset;
    width: 100%;
    color: #9D9AA2 !important;
    outline: unset !important ;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 24px;
}
.nav__search {
    background-color: #413F45;
    padding: 5px 8px;
    width: 424px;
    height: 48px;
    border-radius: 8px;

}


.nav__search:focus-within {
    border: 3px solid #8E51ED !important;
  }
  .nav__search{
    border: 3px solid transparent !important;
  }
.login__btn{
    background-color: #413F45;
    border-radius: 8px;
    outline: unset;
    width: 40px;
    height: 40px;
}
.login__btn:hover{
    background-color: #605D65;
}
.genre__txt{
    font-size: 16px;
    color: #9D9AA2;
    font-weight: 700;
}
.genre__txt:hover{
    color: white;
}

@media screen and (max-width: 1124px){
    .nav__search {
        background-color: #413F45;
        padding: 5px 8px;
        width: 260px;
        height: 40px;
        border-radius: 8px;
    
    }
}
@media screen and (max-width: 768px){
    .nav__search {
        background-color: #413F45;
        padding: 5px 8px;
        width: 95%;
        border-radius: 8px;
    
    }
}

.searchMobile__icon{
    padding: 0 !important;
    margin: 0 !important;
    color: #9D9AA2 !important;
}
.searchMobile__btn{
    border-radius: 50% !important;
    min-width: 40px !important;
    min-height: 40px !important;
    padding: 0 !important;
    margin-right: 10px;
}

.search__mobile{
    position: absolute;
    top: 90%;
    right: 0%;
    left: 4%;
    z-index: 1000;
}
.genre{
    height: fit-content !important;
}