.watchDetail{
    width: 80% !important;
    height: 45px !important;
    background-color: #782CE8 !important;
    border-radius: 8px 0px 0px 8px !important;
    color: white !important;
    font-size: 14px !important;
    text-transform: unset !important;
    font-weight: 400 !important;
}
 .wtch__btn{
    text-transform: unset !important;
    color: #fff !important;
    font-weight: 600 !important;
    height: 45px !important;
    width: 100% !important;
}
.watchDetail:hover{
    background-color: #5C1DD9 !important;
}
.likeDetail{
    height: 45px !important;
    width: 20% !important;

}

.card__skeleton{
    height: 150px !important;
    margin-top: -25px !important;
    margin-bottom: -10px !important;
}
