
.heroSection{
    position: relative;
}

.heroCards__row{
    position: absolute;
    top: 90%;
   left: 0;

}
.heroCardImage__cont{
    width: 40%;
}
.heroCardImage{
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.heroImage:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    
    background: -moz-linear-gradient(left, rgb(14, 13, 13) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0)  100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, #201E24 0%, #201e24a2  49%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
  }



.heroCards{
    max-width: 50%;
}


.hero__movie__details{
    position: absolute;
    top: 35%;
}
.hero__movie__descrip{
    max-width: 50%;
}

.hero__type__txt{
    color: #9D9AA2;
    font-weight: 500;
}

.watch__btn{
    background-color: #782CE8 !important;
    border-radius: 8px 0px 0px 8px !important;
    color: white !important;
    font-size: 14px !important;
    text-transform: unset !important;
    font-weight: 400 !important;
    width: 8% !important;
}
.like__btn{
    background-color: #605D65 !important;
    border-radius: 0px 8px 8px 0px    !important;
    font-weight: 400 !important;
    margin-left: 3px !important;
    min-width: 40px !important;
}
.unLike__btn{
    background-color: #782CE8 !important;
    border-radius: 0px 8px 8px 0px    !important;
    font-weight: 400 !important;
    margin-left: 3px !important;
    min-width: 40px !important;
}

.hero__social{
    border: 1px solid #605D65;
    padding: 5px 8px;
    border-radius: 8px;
    width: 35%;
}
.heroImage{
    width: 100%;
    height: 75vh;
}
.heroImage > img{
    width: 100% !important;
    height: 75vh !important;
    border-radius: 8px;

}

.copy__btn{
    background-color: #605D65 !important;
    border-radius: 4px    !important;
    font-weight: 400 !important;
    height: 30px !important;
    text-transform: none !important;
    color: white !important;
    white-space: nowrap !important;
}
@media screen and (max-width: 990px){
    .heroCards__row{
      
        top: 92%;
  
    }
    .hero__movie__details{
        position: absolute;
        top: 25%;
    }
    .hero__social{
        border: 1px solid #605D65;
        padding: 5px 8px;
        border-radius: 8px;
      width: 43%;
    }
    .hero__movie__descrip > p{
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .watch__btn{
        background-color: #782CE8 !important;
        border-radius: 8px 0px 0px 8px !important;
        color: white !important;
        font-size: 11px !important;
        text-transform: unset !important;
        font-weight: 400 !important;
        width: 10% !important;
    }
}
@media screen and (max-width: 767px){
    .hero__movie__descrip > p{
        max-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .heroCards__row{
      
        top: 61%;
  
    }
    .hero__social{
        border: 1px solid #605D65;
        padding: 5px 8px;
        border-radius: 8px;
       width: 70%;
    }
    .heroCards{
        max-width: 75%;
    }
    .hero__movie__details{
        position: absolute;
        top: 15%;
    }
    .watch__btn{
        background-color: #782CE8 !important;
        border-radius: 8px 0px 0px 8px !important;
        color: white !important;
        font-size: 11px !important;
        text-transform: unset !important;
        font-weight: 400 !important;
        width: 20% !important;
    }
    .like__btn{
        background-color: #605D65 !important;
        border-radius: 0px 8px 8px 0px    !important;
        font-weight: 400 !important;
        margin-left: 3px !important;
        min-width: 40px !important;
    }
}
@media screen and (max-width: 520px){
    .hero__social{
        width: 90%; 
    }
}
@media screen and (min-width: 1490px){
    .heroCards__row{
      
        top: 89%;
  
    }
   .hero__social{
       width: 25%;
   }
    .watch__btn{
        background-color: #782CE8 !important;
        border-radius: 8px 0px 0px 8px !important;
        color: white !important;
        font-size: 20px !important;
        text-transform: unset !important;
        font-weight: 400 !important;
        width: 8% !important;
    }
}

.tablist{
    position: absolute;
    top: 89%;
    z-index: 100;
}