
/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;

  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
  
  width: 100%;
 
 
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    
  }
  
  .slideshowDot {
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 0px 5px 0px;
  
    background-color: #605D65;
  }
  
  .slideshowDot.active {
    background-color: #fff;
  }
  