.serviceCard{
    border: 1px solid #605D65;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    height: 64px !important;
}
.serviceCard:hover{
    background-color: #413F45;
}
.viewAll__btn{
    color: #fff !important;
    background-color: #782CE8 !important;
    text-transform: none !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 100%;
    white-space: nowrap;
    width: 100%;
}
.viewMobile{
    font-size: 16px !important;
}
.viewAll__btn:hover{
    background-color: #5C1DD9 !important;
}

@media screen and (max-width : 530px){
    serviceImg{
        
    }
}
