.categoriesTabs{
    margin-top: 7rem;
  
   
}
@media screen and (max-width: 1490px){
    .categoriesTabs{
        margin-top: 5rem;
     
       
    }
}


@media screen and (max-width: 768px){
    .categoriesTabs{
        margin-top: 2rem;
     
       
    }
}



@media screen and (max-width: 520px){
    .categoriesTabs{
        margin-top: 2rem;
     
       
    }
}