.categoriesTabs{
    margin-top: 7rem;
  
   
}
@media screen and (max-width: 1490px){
    .categoriesTabs{
        margin-top: 5rem;
     
       
    }
    .categoTabs{
        font-size: 16px !important;
        padding: 8px 10px !important;
    }
}

@media screen and (max-width: 980px){
  
}
@media screen and (max-width: 768px){
    .categoriesTabs{
        margin-top: 2rem;
     
       
    }
    .categoTabs{
        font-size: 16px !important;
        padding: 8px 10px !important;
    }
}



@media screen and (max-width: 520px){
    .categoriesTabs{
        margin-top: 2rem;
     
       
    }
}