.footer{
    background-color: #413F45;
    height: 100%;
}

.gray__txt{
    color: #9D9AA2;
}
.donate__btn{
    color: #fff !important;
    text-transform: none !important;
    border:  1px solid #9D9AA2 !important;
    padding: 3px !important;
}