.watch__control{
    background-color: #413F45;
    border-radius: 8px;

    height: 38px;
}
.report__btn{
    text-transform: unset !important;
}
.serverCard{
    border: 1px solid #605D65;
    border-radius: 8px;
    width: 130px;
    padding: 11px 20px 11px 15px;
    cursor: pointer;
}
.serverCard:hover{
    background-color: #413F45 !important;
}
.hero__socialMedia{
    border: 1px solid #605D65;
    padding: 3px 8px !important;
    border-radius: 8px;
    width: 40%;
}
.servers{
    width: 100% !important;
}