.watch__control{
    background-color: #413F45;
    border-radius: 8px;

    height: 38px;
}
.report__btn{
    text-transform: unset !important;
}
.serverCard{
    border-radius: 8px;
    width: 100%;
    padding: 11px 20px 11px 15px;
    cursor: pointer;
}
.serversCard{
    border: 1px solid #605D65;
    border-radius: 8px;
    width: 95%;
}

.serversCard:focus-within{
    background-color: #782CE8;
}
.hero__social{
    border: 1px solid #605D65;
    padding: 3px 8px !important;
    border-radius: 8px;
    width: auto;
}

.watch__list__btn{
    text-transform: none !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}
