
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    font-family: 'Manrope';
    letter-spacing: 1px ;

}








.app__container{
    background-color: #201E24;
    height: 100%;
}
.grid{
    width: 100%;
}
