.showDetailsCard{
    background-color: hsl(260, 5%, 26%);
    border-radius: 8px;
}
.showImg{
    width: 206px;
    height: 302px;
}
.showCard__btn{
    width: 206px;
    color: #fff !important;
    text-transform: unset !important;
    margin-top: 5px !important;
    padding: 6px 25px;
    font-weight: 700 !important;
    border-radius: 8px !important;
    font-size: 16px !important;
    height: 48px;
}
.watchList__btn{
    background-color: #605D65 !important;
}
.inWatch{
    background-color: #782CE8 !important;
}
.inWatch:hover{
    background-color: #5C1DD9 !important;
}
.trailer__btn{
    border: 1px solid #605D65 !important;
}


@media screen and (max-width: 528px){
    .showCard__btn{
        font-size: 11px !important;
    }
  
}
@media screen and (max-width: 480px){
    .showCard__first{
        width: 100%;
    }
    .showCard__sec{
        width: 100%;
    }
    .showCard__btn{
        font-size: 14px !important;
    }
}