
.movieCard__details__txt{
    color: #9D9AA2;

}
.movieCard__img{
width: 100%;
}
.movieCard{
    position: relative;
}
.play__btn{
    background-color: #782CE8 !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    padding-left: 2px;
    position: absolute;
    top: 40%;
    left: 40%;
}
.play__btn:hover{
    background-color: #5C1DD9 !important;
}
.cardDetail{
    height: 100% !important;
}
.tvBdg{
    color: #fff;
    font-weight: 700;
    background-color: #413F45;
    padding: 3px 5px;
    border-radius: 4px;
}       